/* frontend/src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  body {
    background-color: white;
  }

  table, td, th {
    border: 1px solid black !important;
    color: black !important;
  }

  .no-print {
    display: none !important;
  }
}

/* Scroll suave en toda la app */
html {
  scroll-behavior: smooth;
}

/* modo oscuro para la tabla */
