/* frontend/src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  body {
    background-color: white;
  }

  table, td, th {
    border: 1px solid black !important;
    color: black !important;
  }

  .no-print {
    display: none !important;
  }
}

/* Scroll suave en toda la app */
html {
  scroll-behavior: smooth;
}

/* modo oscuro para la tabla */
@layer utilities {
  /* Clase personalizada para un scrollbar minimalista y oscuro */
  .custom-scrollbar::-webkit-scrollbar {
    width: 5px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #1e293b; /* slate-800 */
    border-radius: 10px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #334155; /* slate-700 */
  }
}
