# --- Entorno y Secretos (CRÍTICO) ---
.env
.env.*
*.env
local_settings.py
secrets.py

# --- Dependencias ---
node_modules/
jspm_packages/
# Python
venv/
env/
.venv/
__pycache__/
*.py[cod]

# --- Build / Salida de compilación ---
dist/
build/
out/
.next/
.nuxt/
/static/admin/
/media/

# --- Logs y Debugging ---
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.swp
*.swo
*.map

# --- IDEs y Editores ---
.vscode/
.idea/
.history/
*.iml
*.iws
*.ipr
.DS_Store

# --- Herramientas y Caché ---
.pnp.*
.pnp/
.cache/
.temp/
.tmp/
.pytest_cache/
/coverage/

# --- Bases de Datos Locales ---
*.sqlite3

# --- Archivos Propios / Otros ---
personal.txt
image.png