# --- Entorno y Secretos ---
.env
.env.*
*.env
.env.local
.env.development.local
.env.test.local
.env.production.local
local_settings.py
secrets.py
personal.txt

# --- Dependencias ---
node_modules/
jspm_packages/
package-lock.json
yarn.lock
yarn.lock.bak
/yarn-error.log
/yarn-debug.log
/lerna-debug.log
/npm-debug.log

# Python
venv/
env/
.venv/
*.py[cod]
__pycache__/
.pytest_cache/

# --- Build / Salida ---
dist/
build/
out/
.next/
.nuxt/
staticfiles/
backend_tapiceria_api/staticfiles/

# --- Django ---
/db.sqlite3
*.sqlite3
/migrations/*.py
!/migrations/__init__.py

# --- Caché y Temporales ---
.pnp.*
.pnp/
.cache/
.temp/
.tmp/
/tmp/
*.log
*.out
*.swp
*.swo
*.bak
*.orig
*~

# --- IDEs y Editores ---
.vscode/
.idea/
.history/
.DS_Store
*.iml
*.iws
*.ipr

# --- Reportes ---
/coverage/
/reports/

# --- Docker ---
docker-compose.yml.swp
Dockerfile.swp

# --- Vite ---
/vite.config.ts~
/vite.config.js~

# --- Excepciones ---
!.env.example

# --- Vercel ---
.vercel

# --- Archivos propios ---
image.png
DEPLOY.md
